<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jumplife.tvdrama"
    android:versionCode="43"
    android:versionName="1.0.44">
    
    <uses-sdk android:minSdkVersion="8" android:targetSdkVersion="17" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    
    <!-- Crittercism -->
    <!-- <uses-permission android:name="android.permission.READ_LOGS"/>
    <uses-permission android:name="android.permission.GET_TASKS"/> -->    
    
    <!-- GCM Permission -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="com.jumplife.tvdrama.permission.C2D_MESSAGE" /> 
    <permission android:name="com.jumplife.tvdrama.permission.C2D_MESSAGE" 
        android:protectionLevel="signature" />

    <supports-screens android:anyDensity="true" 
        android:normalScreens="true" 
        android:resizeable="true" 
        android:xlargeScreens="true" 
        android:largeScreens="true" 
        android:smallScreens="true"/>    

    
    <application android:label="@string/app_name"
        android:icon="@drawable/tvdrama"
        android:theme="@android:style/Theme.NoTitleBar"
        android:name=".TvDramaApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true" >
        <activity
            android:name=".TvDrama"
            android:label="@string/app_name" 
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainTabActivities"
            android:screenOrientation="portrait" ></activity>
        <activity android:name=".TvChannelWaterFallActivity"
            android:screenOrientation="portrait" ></activity>
        <activity android:name="TvChannelViewPagerActivity"
            android:screenOrientation="portrait" ></activity>
        <activity android:name=".MyFavoriteWaterFallActivity"
            android:screenOrientation="portrait" ></activity>
        <activity android:name=".DramaTabActivities"
            android:screenOrientation="portrait" ></activity>
        <activity android:name=".DramaInfoActivity"
            android:screenOrientation="portrait" ></activity>
        <activity android:name=".DramaChapterActivity"
            android:screenOrientation="portrait" ></activity>
        <activity android:name=".SearchDramaActivity"
            android:screenOrientation="portrait" ></activity>
        <activity android:name=".AboutUsActivity"
            android:screenOrientation="portrait" ></activity>
        <activity android:name=".NewsActivity" 
            android:screenOrientation="portrait"></activity>
        <activity android:name=".TicketCenterActivity" 
            android:screenOrientation="portrait"></activity>
        <activity android:name=".NewsPic" 
            android:screenOrientation="portrait"></activity>
        <activity android:name="com.jumplife.dialog.GetSerialActivity" 
            android:theme="@style/dialogLoader" 
            android:screenOrientation="portrait"></activity>
        <activity android:name="com.jumplife.dialog.ChangeAccountActivity" 
            android:theme="@style/dialogLoader" 
            android:screenOrientation="portrait"></activity>
        <activity android:name=".DramaSectionActivity"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="sensor" ></activity>
        <activity android:name="com.jumplife.youtubeapi.PlayerControlsActivity"
            android:windowSoftInputMode="stateHidden"></activity>
        <activity android:name="com.jumplife.youtubeapi.FullscreenDemoActivity"></activity>
            
        <activity android:name=".DramaInfoChapterActivity"
            android:screenOrientation="portrait" ></activity>
        
        <!-- Used for install referral measurement-->
        <!-- for google analytics campaign tracking -->
        <service android:name="com.google.analytics.tracking.android.CampaignTrackingService"/>
        <receiver android:name="com.jumplife.tvdrama.GPCampaignRecevier" android:exported="true">
            <meta-data android:name="forward.GoogleAnalytics"
              android:value="com.google.android.apps.analytics.AnalyticsReceiver" />
            <meta-data android:name="forward.CampaignTrackingReceiver"
              android:value="com.google.analytics.tracking.android.CampaignTrackingReceiver" />
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>
	    
	    
	    <!-- GCM Setting -->
	    <service android:name=".GCMIntentService" />
	    <receiver android:name="com.google.android.gcm.GCMBroadcastReceiver" 
	        android:permission="com.google.android.c2dm.permission.SEND" >
		  <intent-filter>
		    <action android:name="com.google.android.c2dm.intent.RECEIVE" />
		    <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
		    <category android:name="com.jumplife.tvdrama" />
		  </intent-filter>
		</receiver>
	    
	    <activity android:name="com.kuad.ADDisplay"/>
	    
	    <activity android:name="com.hodo.ADActivity"/>
	    
        <activity 
            android:name="com.hodo.SplashaActivity"
            android:theme="@android:style/Theme.Translucent"/>
        
        <!-- Current Player -->
        <activity android:name="VitamioPlayerActivity"
            android:screenOrientation="sensor"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize|screenLayout|uiMode" ></activity>
        <activity android:name="VideoViewPlayerActivity"
            android:screenOrientation="sensor"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize|screenLayout|uiMode" ></activity>
        <activity android:name="MediaPlayerActivity"
            android:screenOrientation="sensor"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize|screenLayout|uiMode" ></activity>
        <activity
            android:name="io.vov.vitamio.activity.InitActivity"
            android:screenOrientation="sensor"
            android:configChanges="orientation|keyboard|keyboardHidden|screenLayout|uiMode"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        
        <activity android:name="com.jumplife.customplayer.CustomPlayerActivity"
            android:screenOrientation="sensor"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize|screenLayout|uiMode" ></activity>
        
        
        <!-- For AdMob  -->
        <activity android:name="com.google.ads.AdActivity"
              android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"/>
        
        <!-- TAMedia AdView -->
		<activity android:name="com.taiwanmobile.pt.adp.view.TWMAdActivity" />
		<activity android:name="com.taiwanmobile.pt.adp.view.TWMAdViewActivity" />
		
		<!-- Vpon -->
		<activity
       		android:name="com.vpon.widget.VponActivity" 
       		android:configChanges="orientation|keyboardHidden|navigation|keyboard|screenLayout|uiMode|screenSize|smallestScreenSize"
       		android:theme="@android:style/Theme.Translucent"
       		android:hardwareAccelerated="true">
 		</activity>
 		
		<!-- Mandatory activity declaration to show the Ad in the embedded browser inMobi -->
		<activity android:name="com.inmobi.androidsdk.IMBrowserActivity"
			android:configChanges="keyboardHidden|orientation|keyboard|smallestScreenSize|screenSize" 
			android:hardwareAccelerated="true" />
                
	</application>
</manifest>
